@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted-foreground:  #6B6661;
  --card-foreground: #736E68;
  --base-primary: #212D45;
  --base-green: #0D826B;
} 

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffff;
  color: var(--base-primary);
}

.text-sm {
  font-size: 14px;
}

.text-muted {
  color: var(--muted-foreground);
}
.text-green {
  color: var(--base-green);
}
.text-base-primary {
  color: var(--base-primary)
}
.text-foreground {
  color: var(--card-foreground)
}
.bg-primary {
  background-color: var(--base-primary);
}
.bg-green {
  background-color: var(--base-green);
} 


